<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Disneyland Paris</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
  <script src="{{url_for('static', filename='script.js')}}" defer></script>
</head>
<body>
<header class="position-fixed z-3 w-100">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img class="w-50" src="{{url_for('static', filename='/img/Logo.svg')}}" alt="Logo DisneyLand"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav fw-bold">
            <li class="nav-item">
              <a class="nav-link" href="/home">Nos 2 parcs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/hebergement">Hébergements</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/restauration">Restauration</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/reservation">Reserver</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/planning">Préparer votre visite</a>
            </li>
          </ul>
        </div>
        <div class="d-flex gap-3">
          <button class="btn btn-primary rounded-pill d-flex align-items-center gap-2 fw-semibold"><img
              src="{{url_for('static', filename='/img/confirmation_number_24dp_FFFFFF_FILL0_wght300_GRAD0_opsz24.svg')}}"
              alt="Logo DisneyLand">Billets</button>
          <button class="btn btn-primary rounded-pill d-flex align-items-center gap-2 fw-semibold"><img
              src="{{url_for('static', filename='/img/bed_24dp_FFFFFF_FILL0_wght300_GRAD0_opsz24.svg')}}">Hôtel + billets</button>

        </div>
      </div>
    </nav>
  </header>
  {% block content %}

  {%endblock%}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>